// Colors
$p-clr: black;

$clr-dark: black;
$clr-light: white;

//Typography
$font-family: Arial, Helvetica, sans-serif;

// Opacities
$header-opacity: 1;

//timings
$transition-time-short: 150ms;
$transition-time-med: 300ms;
$transition-time-long: 600ms;
